.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardActionArea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardActionArea .cardMediaWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.cardMediaWrapper {
  box-sizing: border-box;

}

.cardActionArea .cardMediaWrapper img {
  object-fit: contain;
  width: 90%;
}

.cardStatus {
  position: absolute;
  top: 20px;
}

.cardActions {
  display: flex;
  justify-content: right;
}

@media(width < 600px) {
  .cardActionArea .cardMediaWrapper {
    height: 130px;
  }
}
