.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardActionArea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardActionArea .cardMediaWrapper {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 100%;
  margin: 0 auto;
}

.cardActionArea .cardMediaWrapper img {
  object-fit: contain;
}

.cardStatus {
  position: absolute;
  top: 20px;
}
