.title {
  color: #cc9900;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  padding-top: 5px;
  border-color: transparent;
  border-style: solid;
}

.logo {
  height: 70px;
}

.logo_ckp {
  height: 50px;
  flex: 1
}

.logo_company {
  align-items: center;
  margin: auto;
  text-align: center;
}

.app_bar {
  color: #cc9900;
}
