.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardActionArea {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardActionArea .cardMediaWrapper {
    display: flex;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: 5px;
}

.cardActionArea .cardMediaWrapper img{
    object-fit: contain;
}

.cardHeader {
  display: block;
  height: 30px;
  width: 90%;
  border-radius: 7px;
  background-color: brown;
  padding: 1px;
  margin: 7px;
  text-align: center;
}



